<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <base href="/">  --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>My Books</title>
</head>

<body>
  <header class="header">
    <nav class="nav-container">
      <h1 class="logo">MyBooks</h1>
      <div class="mobile-icon-container">
         <span class="material-icons-outlined mobile-icon">menu</span>
      </div>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        {{#if loggedIn}}
        <li class="nav-list-item">
          <a class="nav-link fav-btn">Favorites</a>
        </li>
        {{/if}}
        {{#if loggedIn}}
        <li class="nav-list-item">
          <a class="nav-link logout-btn">Logout</a>
        </li>
        {{else}}
        <li class="nav-list-item">
          <a class="nav-link login-btn">Login / SignUp</a>
        </li>
        {{/if}}
      </ul>
    </nav>
    <div class="search-container">
      <h2 class="search-caption">Search For A Book!</h2>
      <div class="search-form">
        <input class="search-input">
        <button class="search-btn"><span>Search</span></button>
      </div>
    </div>
  </header>
  <aside id="sidebar" class="sidebar-hidden">
      <div class='sidebar-icon-container'>
          <span class="material-icons-outlined sidebar-close-icon">close</span>
      </div>
      <nav class='sidebar-menu'>
          <ul class='sidebar-list'>
              <a href="/" class="sidebar-link">Home</a>
            {{#if loggedIn}}
              <a class="sidebar-link fav-btn">Favorites</a>
            {{/if}}
            {{#if loggedIn}}
              <a class="sidebar-link logout-btn">Logout</a>
            {{else}}
              <a class="sidebar-link login-btn">Login / SignUp</a>
            {{/if}}
          </ul>
      </nav>
  </aside>

  {{{body}}}
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/home.js"></script>

{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}

</html>