<h1>this is from the fav-books.handlebars</h1>
{{#each books as |book|}}
<div>
<a href="#" id="{{book.id}}" class="book-photo">
<p>{{book.name}}</p>
<img src='{{book.image_link}}'>
</a>
</div>
{{/each}}