<div class="fav-container">
    <div class="fav-box">
        {{#each books as |book|}}
        <div class="fav-books">
            <section href="#" id="{{book.book_id}}" class="fav-box-content">
                <p class="book-title">{{book.name}}</p>
                <img class="book-photo" src='{{book.image_link}}'>
            </section>
            <span class="btn-container">
                <button class='remove-fav-btn'>Remove from favorites</button>
            </span>
        </div>
        {{/each}}
    </div>
</div>