
{{#each books as |book|}}
<div class="fav-books">
    <a href="#" id="{{book.book_id}}" class="fav-book-photo">
        <p>{{book.name}}</p>
        <img src='{{book.image_link}}'>
    </a>
    <button class='remove-fav-btn'>Remove from fav</button>
</div>
{{/each}}