<div class='login-main'>
    <div class="login-form-container">
      <form class='login-form'>
        <h1>Login</h1>
        <div class="login-label-container">
            <label class='login-label'>Username</label>
            <input class="login-input" id="username-login" type="username" name='username'></input>
        </div>
        <div class="login-label-container">
            <label class='login-label'>Password</label>
            <input class="login-input" id="password-login" type="password" name='password'></input>
        </div>
        <div class="login-button-container">
            <button class="login-button" type="submit">Login</button>
        </div>
      </form>
    </div>

    <div class='signup-form-container'>
       <form class="signup-form">
            <h1>Sign Up</h1>
            <div class="signup-label-container">
                <label class='signup-label'>Username</label>
                <input class="signup-input" id="username-signup" type="text" name="username" required='true'></input>
            </div>
            <div class="signup-label-container">
                <label class='signup-label'>Password</label>
                <input class="signup-input" id="password-signup" type="password" name="password"></input>
            </div>
            <div class="signup-button-container">
                <button class="signup-button" type="submit">Sign Up</button>
            </div>
       </form>
    </div>
    <div class="extender">extender</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/login.js"></script>

</html>