<head>
  <link href="style.css" rel="stylesheet">
</head>

<form class="login-form">
    <div class="container">
        <h1 class="form-title">Login:</h1>
        <label for="username"><b>Username</b></label>
        <input id="username-login" type="text" placeholder="Enter Username" name="username" required>
        <label for="psw"><b>Password</b></label>
        <input id="password-login" type="password" placeholder="Enter Password" name="psw" required>
        <div class="clearfix">
            <button type="submit" class="signupbtn">Login</button>
        </div>
    </div>
</form>

<form class="signup-form">
    <div class="container">
        <h1 class="form-title">Sign Up:</h1>
        <label for="username"><b>Username</b></label>
        <input id="username-signup" type="text" placeholder="Enter Username" name="username" required>
        <label for="psw"><b>Password</b></label>
        <input id="password-signup" type="password" placeholder="Enter Password" name="psw" required>
        <div class="clearfix">
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/login.js"></script>

</html>