{{#each items as |item|}}
<div>
<a href="#" id="{{item.id}}" class="book-photo">
<p>{{item.volumeInfo.title}}</p>
{{#if volumeInfo.imageLinks.thumbnail}}
  <img src="{{volumeInfo.imageLinks.thumbnail}}">
{{else}}
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/130px-No-Image-Placeholder.svg.png">
{{/if}}
</a>
<button class='add-fav-btn'>Add to fav</button>
</div>


{{/each}}





