body {
    font-family: 'Courier New', Courier, monospace;
    background: cadetblue;
    color: black;
  }

h1 {
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    text-align: center;
}
h1, .h1 {
    font-size: calc(1.5rem + 1.5vw);
    background-color: lightblue;
    margin: 10px;
  }

title {
    color: white;
}

.search-input , .search-btn , .fav-btn , .logout-btn , .login-btn {

  align-items: center;

}

h2 {

  font-family: 'Courier New', Courier, monospace;
  margin-top: 50px;
}

.search-btn {
  background: lightgreen;
  border: 1px solid lightgreen;
  border-radius: 4px;
  padding: 10px 24px;
  transition-duration: 0.4s;
}

.search-btn:hover {
  background-color: #4CAF50;
}

.fav-btn {
  background: lightgreen;
  border: 1px solid lightgreen;
  border-radius: 4px;
  padding: 10px 24px;
  transition-duration: 0.4s;

}
.fav-btn:hover {
  background-color: #4CAF50;
}
.logout-btn {
  background: lightgreen;
  border: 1px solid lightgreen;
  border-radius: 4px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  margin: 2px;

}

.logout-btn:hover {
  background-color: #4CAF50;
}

.login-btn {
  background: lightgreen;
  border: 1px solid lightgreen;
  border-radius: 4px;
  padding: 10px 24px;
  transition-duration: 0.4s;
}
.login-btn:hover {
  background-color: #4CAF50;
}

button {
  background: lightgreen;
  border: 1px solid lightgreen;
  border-radius: 4px;
  padding: 10px 24px;
  transition-duration: 0.4s;

}

button:hover {
  background-color: #4CAF50;
}

.container {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 2px;
  font-size: 20px;
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 300px;
  height: 300px;

}

div {
  font-family: monospace;
  font-size: 16px;
  color: black;

}

.search-input {
  border: 1px solid lightgreen;
  border-radius: 5px;
  height: 30px;
  width: 20%;
  padding: 2px 10px 2px 10px;
  outline: 0;
  background-color: #f5f5f5;
}