body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: cadetblue;
    color: black;
  }

h1 {
    font-family: monospace;
    align-items: center;
    text-align: center;
}
h1, .h1 {
    font-size: calc(1.5rem + 1.5vw);
    background-color: lightblue;
    margin: 10px;
  }

title {
    color: white;
}

.search-input , .search-btn , .fav-btn , .logout-btn , .login-btn {

  align-items: center;

}

h2 {

  font-family: monospace;
  margin-top: 50px;
}

.search-btn {
  background: lightgreen;
  border-radius: 4px;
  padding: 10px 24px;
  transition-duration: 0.4s;
}

.search-btn:hover {
  background-color: #4CAF50;
}

.fav-btn {
  background: lightgreen;
  border-radius: 4px;
  padding: 10px 24px;
  transition-duration: 0.4s;

}
.fav-btn:hover {
  background-color: #4CAF50;
}
.logout-btn {
  background: lightgreen;
  border-radius: 4px;
  padding: 10px 24px;
  transition-duration: 0.4s;

}

.logout-btn:hover {
  background-color: #4CAF50;
}

.login-btn {
  background: lightgreen;
  border-radius: 4px;
  padding: 10px 24px;
  transition-duration: 0.4s;
}
.login-btn:hover {
  background-color: #4CAF50;
}

button {
  background: lightgreen;
  border-radius: 4px;
  padding: 10px 24px;
  transition-duration: 0.4s;

}

button:hover {
  background-color: #4CAF50;
}

.container {
  font-family: monospace;
  font-size: 16px;
}

div {
  font-family: monospace;
  font-size: 16px;
  color: black;

}

