body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: cadetblue;
    color: black;
  }

h1 {
    font-style: italic;
}
h1, .h1 {
    font-size: calc(1.1rem + 1.5vw);
  }

title {
    color: white;
}
