body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: cadetblue;
    color: black;
  }

h1 {
    font-style: italic;
    align-items: center;
    text-align: center;
}
h1, .h1 {
    font-size: calc(1.1rem + 1.5vw);
  }

title {
    color: white;
}

button {
  align-items: center;
  text-align: center;
}